html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0c0c0c;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: neon;
  src: url("/fonts/Clip.ttf");
}

@keyframes wobble {
  0% {
    transform: rotate3d(1, 1, 1, -15deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 15deg);
  }
}

@keyframes winkOn {
  0% {
    opacity: 0
  }

  25% {
    opacity: 1
  }

  30% {
    opacity: 0
  }

  35% {
    opacity: 0.3
  }

  40% {
    opacity: 0
  }

  45% {
    opacity: 0.5
  }

  50% {
    opacity: 0.3
  }

  55% {
    opacity: 0.7
  }

  60% {
    opacity: 0.3
  }

  100% {
    opacity: 1
  }
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 1;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes wobbleAndScale {
  0% {
    transform: scale(1.15) rotateZ(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: scale(1) rotateZ(5deg);
    animation-timing-function: linear;
  }

  50% {
    transform: scale(1.15) rotateZ(0deg);
    animation-timing-function: ease-in-out;
  }

  75% { 
    transform: scale(1) rotateZ(-5deg);
    animation-timing-function: linear;
  }

  100% {
    transform: scale(1.15) rotateZ(0deg);
    animation-timing-function: ease-in;
  }
}